{% extends 'base.html' %}
{% block title %}Пост {{ post.text|truncatechars:30 }}{% endblock %}
{% block content %}

  
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: {{ object.pub_date|date:"d E Y" }}  
            </li>
              <li class="list-group-item">
                Автор: {{ object.author.fio }}</a> 
              </li>
              </ul>
        </aside>
        <article class="col-12 col-md-8">
          <p>
           {{ object.text}}
          </p>
          {% if user == object.author %}
          <p>
          <a href="{% url 'notes:note_edit' object.pk %}">
            Редактировать запись
            </a>
          </p>
          {% endif %}
          
          </article>
      </div> 
  
  {% include 'note/includes/paginator.html' %}
{% endblock %}