{% extends 'base.html' %}
{% block title %}Профайл пользователя 
{{ author.fio }}
{% endblock %}
{% block content %}

{% for post in object_list %}
{% if forloop.first %}

    <div class="container py-5">        
        <h1>Все посты пользователя {{ post.author.fio }} </h1>
        <h3>Всего постов: {{ object_list|length }}</h3>
        <article>
          <ul>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }} 
            </li>
          </ul>
          <p>
          {{ post.text }}
          </p>
          <a href="{% url 'notes:note_detail' post.pk %}">подробная информация </a>
        </article>       
                
        {% else %}
        <ul>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }} 
          </li>
        </ul>
        <p>
        {{ post.text }}
        </p>
        <a href="{% url 'notes:note_detail' post.pk %}">подробная информация </a>

        {% endif %}
        {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
        {% include 'note/includes/paginator.html' %} 
      </div>
       
{% endblock %} 