{% extends 'base.html' %}
{% block title %}Профайл пользователя 
{{ author.fio }}
{% endblock %}
{% block content %}
{% for post in page_obj %}
{% if forloop.first %}

    <div class="container py-5">        
        <h1>Все заметки пользователя {{ post.author.fio }} </h1>
        <h3>Всего заметок: {{ sum_count }}</h3>
        <article>
          <ul>
            <li>
              Автор: {{ post.author.fio }}
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }} 
            </li>
          </ul>
          <p>
          {{ post.text }}
          </p>
          <a href="{% url 'notes:note_detail' post.pk %}">подробная информация </a>
        </article> 
{% endif %}
        {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
        {% include 'note/includes/paginator.html' %} 
      </div>    
{% endblock %} 